*{
    margin: 0;
    width: auto;
    height: auto;
}
.hiddenbutton {
    margin-right: 6rem;
    visibility: hidden;
}
.headerAll {
    padding-top: 15px;
    padding-bottom: 15px;
    width:100%;
    background-color: #2F4F4F;
    overflow: hidden;
}
.textending {
    position: relative;
    display: flexbox;

}
.hidden2 {
    width: rem;
    visibility: hidden;
    align-self: center;
}
.creds {
    margin-left: 37%;
}
.middlesection {
    padding: 2rem; 
    position: relative; 
    margin-left: 32%; 
    margin-right: 32%; 
    padding-top: 15%; 
    color: white;
}
.btnapply {
    justify-content: center; 
    align-items: center; 
    display: flex;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    align-self: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.midheads {
    padding-bottom: 1rem;
    font-size: 40px;
}

.p1 {
    padding-bottom: 3rem;
}
