* {
    align-items: center;
    box-sizing: border-box;
}

.header {
text-align: center;
background-color: rgb(46, 9, 182);
color: rgb(255, 255, 255);
font-style: oblique;
padding: 30px;
border-bottom: 4px;
font-size: large;
}
.gallery img{
    border-left: auto;
    border-right: auto;
    width: auto;
    height: 100%;
    object-fit: cover;
}
.gallery {
    align-items: center;
    background-color: rgb(255, 255, 255);
    opacity: 100%;
    padding: px;
    border-bottom: 10px;
    object-fit: contain;
    flex-direction: row;
    
    max-width: auto;
   
}
.buttons {
    border-radius: 30%;
    padding: 2px;
    align-self: center;
    color: rgb(255, 255, 255);
}
.footer {
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-small;
    text-align: center;
}
.paragraph{
    text-align: center;
    font-size: small
}